body{
    font-family: 'Libre Baskerville', serif;
}

.myContainer{
    background: url(https://images.pexels.com/photos/2061168/pexels-photo-2061168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 100%;
    background-repeat: no-repeat;
}

.myBorder{
    border: 3px solid red;
}

.font-24{
    font-size: 24px;
}

.font-18{
    font-size: 18px;
}

.aboutFontSize{
    font-size: 22px;
}

.aboutContainer{
    background-color: #00442a;
}

.marginTop-50{
    margin-top: 65px;
}

.myNavBar{
    position: sticky;
    top: 0;
}

.noDecoration{
    text-decoration: none;
}

.educationContainer{
    background-color: rgb(146, 255, 255);
    background-size: 100%;
}

.myNameBackground{
    background: url(https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    transition: transform .2s;
}
.myNameBackground:hover{
    transform: scale(1.1);
}

.myCardBackground{
    background-color: rgba(75, 160, 160, 0.452);
}

.textColorBlue{
    color: rgb(6, 21, 224);
}