body{
    font-family: 'Libre Baskerville', serif;
}

.myContainer{
    background: url("/img/slideBackground.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.myBorder{
    border: 3px solid red;
}

.font-24{
    font-size: 24px;
}

.font-18{
    font-size: 18px;
}

.aboutFontSize{
    font-size: 22px;
}

.aboutContainer{
    background-color: #00442a;
}

.marginTop-50{
    margin-top: 65px;
}

.myNavBar{
    position: sticky;
    top: 0;
    z-index: 9;
}

.educationContainer{
    background: url("/img/educationBackground.jpg");
}

.myNameBackground{
    background: url(/img/textBackground.jpeg);
    transition: transform .2s;
}
.myNameBackground:hover{
    transform: scale(1.1);
}

.projectHover{
    transition: transform .2s;
}
.projectHover:hover{
    transform: scale(1.2);
}

.myCardBackground1{
    background-color: rgba(75, 160, 160, 0.575);
}

.myCardBackground2{
    background-color: rgba(75, 160, 160, 0.164);
}

.rounded-circle{
    width: 200px;
    height: 200px;
}

.textColorBlue{
    color: rgb(6, 21, 224);
}

.projectBackground{
    background-color: #354664;
}

.myLightGreen{
    color: rgb(86, 255, 114);
}

.contactBackground{
    background-color: rgb(27, 26, 36);
}
